@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;
    background-color: rgb(200, 228, 196);
}
.heading {
    text-align: center;
    color: rgb(102, 153, 102);
}
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    display: block;
    font-family: inherit;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    font-size: 1rem;
}
img {
    display: block;
    max-width: 30%;
    height: auto;
}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.weather-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.image {
    flex-basis: 40%;
}
.weather-details {
    padding-left: 0px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }